@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* MAIN COLORS */
  --primary: #3ecf4c;
  --primary-400: #6be26b;
  --primary-300: #94f08b;
  --primary-200: #c0fab4;
  --primary-100: #e2fcd9cc;

  --secondary: #ffbd3a;
  --secondary-400: #ffd26b;
  --secondary-300: #ffdf88;
  --secondary-200: #ffecb0;
  --secondary-100: #fff7d7cc;

  --tertiary: #f64920;
  --tertiary-400: #f98256;
  --tertiary-300: #fca578;
  --tertiary-200: #fecaa5;
  --tertiary-100: #fee8d2cc;

  /* TEXT COLORS */
  --dark: #222325;
  --dark-secondary: #333333ad;
  --dark-disabled: #3a354161;
  --light: #ffffff;
  --light-secondary: #c1c2c4;
  --light-disabled: #9d9ea1;

  /* SEMANTIC COLORS */
  --danger: #ff5c2b;
  --success: #38d189;
  --warning: #fce91b;
  --info: #0980e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--dark-secondary);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 64px;
}
