/*FOOTER ADDRESS*/

footer {
  border-top: 1px solid #3a35411f;
  padding: 20px;
  gap: 16px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address img {
  width: 161.61px;
  height: 25.18px;
  flex: 0 0 auto;
}

.address-phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.address-phone p:first-child {
  font-weight: 700;
  color: var(--dark);
}

.address-phone address {
  font-weight: 400;
  font-size: 12px;
  color: var(--dark);
}

.address-phone p:last-child {
  font-weight: 400;
  font-size: 14px;
  color: var(--dark);
}

/*FOOTER LINKS*/

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}

.footer-links-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links-header h3 {
  font-weight: 700;
  font-size: 16px;
  color: var(--dark);
}

.chevron {
  width: 7.4;
  height: 12px;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

.chevron.rotate {
  transform: rotate(180deg);
}

.footer-links ul {
  display: none;
  list-style: none;
  padding-left: 0;
}

.footer-links ul.open {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links ul a {
  text-decoration: none;
}

/*FOOTER COPYRIGHT & SOCIAL*/

.divider {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #3a35411f;
  font-size: 0;
  border: 0;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 12px;
}

.footer-copyright p {
  font-weight: 500;
  font-size: 16px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.socials img {
  width: 35px;
  height: 35px;
  flex: 0 0 auto;
}

@media (min-width: 1024px) {
  /*FOOTER ADDRESS*/

  footer {
    padding: 60px 120px 60px 120px;
    gap: 20px;
  }

  .footer-address-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-address img {
    flex: 0 0 auto;
  }

  .address-phone {
    gap: 12px;
  }

  .address-phone p:first-child {
    font-size: 18px;
  }

  .address-phone address {
    font-size: 16px;
  }

  .address-phone p:last-child {
    font-size: 16px;
  }

  .footer-links {
    flex-direction: row;
    margin-top: unset;
    gap: 48px;
  }

  .footer-links-header {
    all: unset;
  }

  .chevron {
    display: none;
  }

  .footer-links ul {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 13px;
    list-style-type: none;
  }

  /*FOOTER COPYRIGHT & SOCIAL*/

  .divider {
    margin-top: 32px;
  }

  .footer-copyright {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    gap: unset;
  }

  .socials-img {
    width: 37px;
    height: 37px;
  }
}
