header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
  height: 74px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow:
    0px 0px 1px 0px rgba(62, 67, 74, 0.31),
    4px 8px 12px 0px rgba(62, 67, 74, 0.15);
  background-color: #ffffff;
  z-index: 9999;
}

.logo-top {
  width: 144.77px;
  height: 22.56px;
  flex: 0 0 auto;
  cursor: pointer;
}

.navbar-auth .right-nav {
  display: none;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  width: 120px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-nav-login {
  display: flex;
  justify-content: center;
  width: 94px;
  height: 42px;
  padding: 10px 26px 10px 26px;
  font-size: 14px;
  text-align: center;
}

.btn-nav-register {
  display: flex;
  justify-content: center;
  width: 94px;
  height: 42px;
  padding: 10px 26px 10px 26px;
  font-size: 14px;
  text-align: center;
}

.to-category {
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 1024px) {
  header {
    height: 80px;
    border-top: none;
    border-bottom: 1px solid #3a35411f;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 120px;
    padding-right: 120px;
    box-shadow: none;
  }

  .logo-top {
    all: unset;
    flex: 0 0 auto;
    cursor: pointer;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    box-shadow: none;
    width: auto;
    padding: 0;
    align-items: center;
    gap: 36px;
  }

  .to-category {
    font-size: 16px;
  }
  .btn-nav-login {
    width: 94px;
    height: 42px;
    font-size: 16px;
    margin-right: -20px;
  }

  .btn-nav-register {
    width: 117px;
    height: 42px;
    font-size: 16px;
  }
}
