/* HERO SECTION */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 400px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../assets/images/Hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  padding-top: 64px;
  padding-right: 20px;
  padding-bottom: 64px;
  padding-left: 20px;
  gap: 24px;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #ffffff;
}

.hero-txt h1 + p {
  color: #ffffff;
}

.btn-find {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-weight: 400;
  text-decoration: none;
  width: 280px;
  height: 40px;
  border-radius: 10px;
}

.btn-find a {
  color: #ffffff;
  text-decoration: none;
}

/* CATEGORIES */

.top-videos-section {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.top-videos-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #222325;
}

.tabs-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, black 95%, transparent 100%);
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 6px;
  padding: 15px 0;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.tab {
  background: none;
  border: none;
  color: #333333ad;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 36px;
  padding-left: 0;
  position: relative;
}

.tab.active {
  color: #f64920;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 40%;
  height: 6px;
  background-color: #f64920;
  border-radius: 10px;
}

/* COURSE GRID */

.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  gap: 20px;
}

/* NEWSLETTER */

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 400px;
  padding: 48px 20px 48px 20px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../assets/images/Newsletter.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 12px 45px -10px #003bde33;
}

.newsletter-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.newsletter-txt p {
  font-weight: 500;
  font-size: 16px;
  color: #c1c2c4;
  text-align: center;
}

.newsletter-txt h2 {
  color: #ffffff;
  text-align: center;
}

.newsletter-txt:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  color: #f4f5fa;
  text-align: center;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}

.newsletter-input {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px 8px 10px 12px;
  background-color: #ffffff;
  color: #333333ad;
  text-align: center;
}

.btn-newsletter {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px 8px 10px 12px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  /* HERO SECTION */

  .hero {
    width: 1200px;
    height: 400px;
    font-size: 16px;
    padding: 82px 140px 82px 140px;
  }

  .hero-title {
    font-size: 48px;
  }

  .btn-find {
    width: 372px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
  }

  /* CATEGORIES */

  .top-videos-section {
    width: 1200px;
  }

  h2 {
    font-size: 32px;
  }

  .tab {
    font-size: 16px;
  }

  /* COURSE GRID */

  .course-grid {
    width: 1200px;
    gap: 24px;
    margin-top: -32px;
  }

  /* NEWSLETTER */

  .newsletter {
    width: 1200px;
    padding: 92px;
  }

  .newsletter-txt {
    width: 525px;
  }

  .newsletter-txt p {
    font-size: 18px;
  }

  .newsletter-txt:nth-child(3) {
    font-weight: 400px;
  }

  .newsletter-form {
    flex-direction: row;
    justify-content: space-between;
    width: 525px;
    height: 58px;
    padding: 8px 8px 8px 32px;
    gap: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .newsletter-input {
    all: unset;
    font-size: 16px;
    text-align: left;
  }

  .btn-newsletter {
    width: 133px;
    height: 42px;
    padding: 10px 26px 10px 26px;
    text-align: center;
    gap: 8px;
  }
}
