@import url(./Input.css);

.input-password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 24px;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}
